/* originally written for Random Boggle Solver: http://jonathan-potter.github.io/boggle */

/* HEADER */
header {
  text-align: left;
  color: black;
  text-transform: uppercase;
  border-bottom: 1px solid #aaa;
  background-color: white;
  height: 60px;
  line-height: 60px;
}

header * {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

heading {
  display: inline;
  font-weight: normal;
  letter-spacing: 2px;
}

.left {
  float: left;
}

.left > ul > li {
  float: left;
}

.right {
  float: right;
}

.right > ul > li {
  display: inline;
  font-size: 20px;
}

.header-menu {
  position: relative;
  display: inline;
}

.header-menu-icon {
  width: 60px;
  height: 60px;

  text-align: center;
}

.header-menu-body {
  display: none;
}

.header-menu:hover > .header-menu-body {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;

  background-color: white;
  border: 1px solid #ddd;
  width: 200px;
}

.header-menu-body > ul {
  margin: 0;
}

.header-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-menu:hover > .header-menu-icon {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-menu-item-text {
  padding-left: 20px;
}
