body {
  background-color: black;
  text-align: center;
}

section {
  width: 100%;
  height:100%;
  position: relative;
  top: 0;
  left: 0;
}

section > .container {
  width: 100%;
  height: 100%;
}

#mandelbrot {
  width: 100%;
  height: 100%;
}
